<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <th>id</th>
      <th>Team 1</th>
      <th>Team 2</th>
      <th>Date</th>
      <th>Result</th>
    </tr>
    <% for(let i=0; i<results.length; i++) { %>
    <tr>
      <td data-doc="<%=results[i].id%>"><%=results[i].id%></td>
      <td><%=results[i].host%></td>
      <td><%=results[i].guest%></td>
      <td><%=results[i].date%></td>
      <td><%=results[i].result%></td>
    </tr>
    <%}%>
    </table>
    
  </body>
</html>
